@charset "UTF-8";

/*  body {
  @include scrollbars(10px, red, blue);
} */

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header.fixed {
  position: fixed;
  background-color: #010A2B;
  z-index: 999;
  width: 100%;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

.header__container.fixed {
  height: 60px;
}

.header__logo {
  position: relative;
  padding: 10px;
  margin: -10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 5;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header__logo:hover {
  color: #30B2E4;
}

.main-screen__text {
  margin-bottom: 45px;
}

.main-screen__text-greeting {
  margin: 0 0 20px 5px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 17px;
  font-weight: normal;
}

.main-screen__text-title {
  font-size: 80px;
  font-weight: 700;
}

.main-screen__text-subtitle {
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
}

.main-screen__descr {
  font-size: 20px;
  max-width: 500px;
  margin: 0 0 0 5px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 20px 0 0;
}

.about__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  text-align: center;
}

.about__box-img {
  width: 100%;
  min-width: 300px;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  margin: 20px 0 0 0;
  overflow: hidden;
}

.about__item {
  position: relative;
  margin: 0 0 10px 15px;
}

.about__item::before {
  content: "▹";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  color: #30B2E4;
  font-size: 14px;
  line-height: 12px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -10px -10px -10px -10px;
}

.work__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.work__column:hover .work__item-overlay {
  opacity: 1;
}

.work__column:hover .work__item-icon {
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.work__column:hover .work__item-title {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.work__column:hover .work__item-btn {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.work__item {
  position: relative;
}

.work__item-box {
  padding: 0px 0px 53% 0px;
  overflow: hidden;
  position: relative;
}

.work__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.work__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  text-align: center;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  background-color: rgba(48, 178, 228, 0.5);
  overflow: hidden;
}

.work__item-icon {
  height: 24px;
  width: 24px;
  fill: #fff;
  -webkit-transform: translateY(-130px);
      -ms-transform: translateY(-130px);
          transform: translateY(-130px);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.work__item-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #010A2B;
  color: #fff;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.work__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.work__item-btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 10px;
  background-color: #010A2B;
  color: #fff;
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.work__item-btn:hover {
  background-color: #30B2E4;
}

.feedback {
  text-align: center;
}

.feedback__title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}

.feedback__text {
  max-width: 600px;
  margin: 0 auto 60px;
  line-height: 1.5;
  font-size: 19px;
}

.feedback__btn {
  padding: 20px 30px;
}

.footer {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #010A2B;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.menu__item:not(:last-child) {
  margin-right: 15px;
}

.menu__link {
  position: relative;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.menu__link:hover {
  color: #30B2E4;
}

.menu__btn {
  padding: 10px;
}

.menu__burger {
  display: none;
}

.social-media {
  position: fixed;
  bottom: 0;
  left: 30px;
}

.social-media__list::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

.social-media__item {
  margin-bottom: 25px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.social-media__link {
  padding: 10px;
  color: #30B2E4;
}

.social-media__link:hover svg {
  fill: currentcolor;
}

.social-media__icon {
  height: 24px;
  width: 24px;
  fill: #fff;
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}

.email {
  position: fixed;
  bottom: 0;
  right: 30px;
}

.email::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

.email__link {
  color: #fff;
  padding: 10px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-bottom: 25px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.email__link:hover {
  color: #30B2E4;
}

.social-media__item:hover,
.social-media__item:focus,
.email__link:hover,
.email__link:focus {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

/* ==========================================================================
  General Styles
========================================================================== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #06205D;
  color: #fff;
  font-weight: 400;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #30B2E4;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #fff;
}

html,
body {
  scrollbar-face-color: #30B2E4;
  scrollbar-track-color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  line-height: 1.3;
}

p {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 1.3;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 150px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  position: relative;
  padding: 150px 0 150px 0;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about,
.work,
.feedback {
  padding: 150px 0 150px 0;
}

.title {
  font-size: 32px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 700;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.title::after {
  content: "";
  position: relative;
  height: 1px;
  width: 300px;
  display: block;
  background-color: #fff;
  top: 50%;
  margin-left: 20px;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #30B2E4;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.btn:hover {
  background-color: rgba(48, 178, 228, 0.3);
}

@media (max-width: 1190px) {
  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 1080px) {
  .feedback__title {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .main-screen__text-greeting {
    font-size: 15px;
  }

  .main-screen__text-title {
    font-size: 70px;
  }

  .main-screen__text-subtitle {
    font-size: 70px;
  }

  .container {
    padding: 0 100px;
  }
}

@media (max-width: 830px) {
  .main-screen__text-greeting {
    font-size: 14px;
  }

  .main-screen__text-title {
    font-size: 60px;
  }

  .main-screen__text-subtitle {
    font-size: 60px;
  }

  .feedback__title {
    font-size: 40px;
  }

  .footer {
    height: 80px;
  }

  .social-media {
    display: none;
  }

  .social-media__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-media__list::after {
    display: none;
  }

  .social-media__item {
    margin-bottom: 10px;
  }

  .email {
    display: none;
  }

  .container {
    padding: 0 50px;
  }

  .main-screen {
    padding: 150px 0 100px 0;
  }

  .about,
  .work,
  .feedback {
    padding: 100px 0 100px 0;
  }
}

@media (max-width: 770px) {
  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #010A2B;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .menu.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    font-size: 30px;
  }

  .menu__btn {
    padding: 18px 50px;
    margin: 30px 0 0 0;
  }

  .menu__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  .menu__burger.active {
    position: fixed;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transition-duration: 0.22s;
         -o-transition-duration: 0.22s;
            transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
         -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .menu__burger::after,
  .menu__burger::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 770px) and (max-width: 630px) {
  .menu__burger {
    right: 50px;
  }
}

@media (max-width: 770px) and (max-width: 480px) {
  .menu__burger {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .work__item-overlay {
    overflow: visible;
    opacity: 1;
    background-color: rgba(48, 178, 228, 0.3);
  }

  .work__item-title {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .work__item-btn {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 750px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__info {
    width: 100%;
    margin: 0;
  }

  .about__box-img {
    width: 40%;
    margin-bottom: 50px;
  }

  .title {
    font-size: 24px;
  }

  .title::after {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .work__row {
    margin: -15px 0 -15px 0;
  }

  .work__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 500px) {
  .feedback__text {
    font-size: 18px;
  }

  .menu {
    width: 100%;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 18px;
  }

  .container {
    padding: 0px 20px;
  }

  .main-screen {
    padding: 100px 0px 25px 0;
  }

  .about,
  .work,
  .feedback {
    padding: 25px 0 25px 0;
  }
}

@media (max-width: 400px) {
  .main-screen__text-title {
    font-size: 50px;
  }

  .main-screen__text-subtitle {
    font-size: 35px;
  }

  .main-screen__descr {
    font-size: 18px;
  }
}