// Mixins
@import "mixins/adaptive-font";
@import "mixins/scrollbars";

// Partials
@import "partials/fonts";
@import "partials/vars";
@import "partials/libs";

// Blocks
@import "blocks/header";
@import "blocks/about";
@import "blocks/work";
@import "blocks/skills";
@import "blocks/footer";
@import "blocks/switch-wrapper";

// Components
@import "components/checkbox-off";
@import "components/scroll-up";

/* ==========================================================================
  General Styles
========================================================================== */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;color: inherit;}
nav,footer,header,aside{display: block;}
html {scroll-behavior: smooth;}
html,body{background-color: #fff;color: #444452;font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;width:100%;font-size:100%;line-height:1.5;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a{color: #444452;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;margin: 0;line-height: 1.3;}

body.night {
	background-color: #171c28;
	color: #afafbf;

	.intro {
		color: #e7e7e7;
	}

	svg {
		fill: #fff;
	}

	a {
		color: #e7e7e7;
	}

	.switch-wrapper__sun {
		background: url(../img/icons/sun-white.svg) no-repeat center;
		background-size: 100%;
	}

	.switch-wrapper__moon {
		background: url(../img/icons/moon-white.svg) no-repeat center;
		background-size: 100%;
	}
}
.icon {
	width: 17px;
   height: 17px;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

.container {
	padding: 100px 170px;
	display: flex;
	justify-content: center;

	@media (max-width: 1280px) {
		padding: 100px;
	}

	@media (max-width: 1024px) {
		padding: 50px;
	}

	@media (max-width: 1024px) {
		padding: 50px;
	}

	@media (max-width: 768px) {
		display: block;
	}

	@media (max-width: 480px) {
		padding: 50px 35px;
	}
}

.emoji {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;

	@media (max-width: 1024px) {
		width: 35px;
		height: 35px;
	}

	@media (max-width: 768px) {
		width: 30px;
		height: 30px;
	}

	@media (max-width: 360px) {
		width: 25px;
		height: 25px;
	}
}

.title {
	flex-shrink: 0;
	width: 200px;
	margin-right: 70px;
	color: #007bff;
	text-transform: uppercase;
	text-align: right;
	font-weight: 700;
	letter-spacing: 2px;

	@media (max-width: 1024px) {
		margin-right: 50px;
	}

	@media (max-width: 850px) {
		width: 150px;
	}

	@media (max-width: 768px) {
		text-align: left;
    	width: auto;
	}
}
.content {
	font-weight: 400;
	font-size: 1rem;
	width: 100%;
	max-width: 650px;

	@media (max-width: 768px) {
		padding: 30px 0px 0px 30px;
	}
}