.switch-wrapper {
	
	&__toggle {
		margin: 10px;
<<<<<<< HEAD
=======
		padding-right: 50px;
		cursor: pointer;
		font-size: 20px;
		user-select: none;
	}
>>>>>>> parent of e9877f47... Add animation

		#switch {
			height: 0;
			width: 0;
			visibility: hidden;
			position: absolute;
			
			&:checked+label {
				background: #007bff;
	
				&:after {
					left: calc(100% - 3px);
					transform: translateX(-100%);
				}
			}
		}
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 45px;
		height: 25px;
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;

		&:after {
			transition: all .2s ease-in-out;
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: 19px;
			height: 19px;
			background: #fff;
			border-radius: 100%;
		}
	}
}