// Colours
$white: #fff;
$accent: #06205D;
$accent-secondary: #010A2B;
$color-hover: #30B2E4;

// Fonts
$font-family: "Raleway", sans-serif;

// Adaptive-font
$maxWidth: 1280;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Adaptive md
$minwidth: 320px;
$mw: 950;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;