.intro {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	padding: 120px 100px;
	max-width: 1440px;
	margin: 0 auto;

	@media (max-width: 630px) {
		padding: 120px 70px;
	}

	@media (max-width: 550px) {
		padding: 120px 50px;
	}

	@media (max-width: 480px) {
		padding: 70px 45px;
	}

	@media (max-width: 380px) {
		padding: 70px 40px;
	}

	&__hello {
		font-size: 2.5rem;
		font-weight: 300;
		margin: 25px 0;

		@media (max-width: 1024px) {
    		font-size: 2.25rem;
		}

		@media (max-width: 768px) {
    		font-size: 2rem;
		}

		@media (max-width: 550px) {
    		font-size: 1.75rem;
		}

		@media (max-width: 380px) {
    		font-size: 1.5rem;
		}

	}

	&__hello-emoji {
		background-image: url(../img/icons/wave.png);
		margin-left: 10px;
	}

	&__about {
		font-weight: 300;
		max-width: 700px;
		font-size: 2.5rem;
		margin: 25px 0;

		@media (max-width: 1024px) {
			font-size: 2.25rem;
	  }

	  @media (max-width: 768px) {
			font-size: 2rem;
	  }

	  @media (max-width: 550px) {
			font-size: 1.75rem;
	  }
	  
	  @media (max-width: 380px) {
			font-size: 1.5rem;
	  }

	  @media (max-width: 330px) {
			font-size: 1.4rem;
	  }
	}

	&__about-name {
		font-weight: 700;
	}

	&__contact {
		margin: 25px 0;
		font-size: 1.25rem;
		font-weight: 400;

		@media (max-width: 550px) {
			font-size: 1rem;
		}
	}

	&__contact-emoji {
		background-image: url(../img/icons/pointright.png);
		margin: 0 5px;
		vertical-align: text-bottom;
	}

	&__contact-link a{
		transition: all .2s ease-in-out;
		font-weight: 400;
		color: #444452;
		text-decoration: none;
		display: inline-block;
		padding: 2px 3px;
		text-decoration: none;
		box-shadow: inset 0 -3px 0 #007bff;

		&:hover {
			box-shadow: inset 0 -33px 0 0 #007bff;
    		color: #fff;
		}
	}
}
