.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&.fixed {
		position: fixed;
		background-color: $accent-secondary;
		z-index: 999;
		width: 100%;
	}
	// .header__container

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		transition: height 300ms ease-in-out;

		&.fixed {
			height: 60px;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		padding: 10px;
		margin: -10px;
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		z-index: 5;
		transition: color .3s;
		
		&:hover {
			color: $color-hover;
		}
	}

}