.skills {


	&__row {
		display: flex;
		justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__list {



		&:nth-child(5){
			
		}
	}

	&__list-item {
		margin: 3px 0;
		font-size: .9rem;
	}

}

